Repository chtoucas/Abc.Maybe: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-all.yml: any file but: .github, __, doc, test, CHANGELOG, LICENSE*, README.md
  azure-pipelines-netfull.yml: any file but: .github, __, doc, eng, test, CHANGELOG, LICENSE*, README.md
  azure-pipelines.yml: any file but: .github, __, doc, eng, test, CHANGELOG, LICENSE*, README.md

New option vNext for CI builds.
  .azure/pipelines/azure-pipelines-test-pack.ps1
  .azure/pipelines/azure-pipelines-test-pack.yml
  Maybe.sln
  src/Retail.props
  test/Directory.Build.targets
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

vNext.props and option -vNext for Get-PackageVersion.
  Maybe.sln
  doc/TODO
  eng/lib/abc.ps1
  eng/pack.ps1
  src/Directory.Build.targets
  src/Retail.props
  src/vNext.props
  test/Directory.Build.targets
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Comments.
  src/Directory.Build.targets
  src/README
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Rename AbcVersion -> AbcPackageVersion.
  eng/pack.ps1
  eng/test-package.ps1
  src/Abc.Maybe/Directory.Build.targets
  test/Directory.Build.targets
  test/README
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

make.ps1, -Flat becomes -Flatten.
  .azure/pipelines/azure-pipelines-build.yml
  doc/developer-notes
  eng/make.ps1
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Add a warning.
  doc/TODO
  eng/pack.ps1
Due: azure-pipelines-all.yml

Update pack.ps1
  eng/pack.ps1
Due: azure-pipelines-all.yml

Update docs.
  README.md
  doc/README.md
  doc/TODO
  doc/developer-notes
  doc/usage-guidelines.md
  eng/pack.ps1
Due: azure-pipelines-all.yml

Create .gitattributes
  .gitattributes
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Simplify changelog, update docs.
  CHANGELOG
  doc/developer-notes
Due: none

Update CHANGELOG
  CHANGELOG
Due: none

Cleanup.
  .gitignore
  Directory.Build.props
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Fix comments.
  Directory.Build.targets
  src/Directory.Build.targets
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Update .gitignore
  .gitignore
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Rename SmokeBuild -> SlimBuild.
  Directory.Build.props
  Directory.Build.targets
  eng/cover.ps1
  eng/harness.cmd
  eng/make.ps1
  eng/pack.ps1
  src/Abc.Maybe/Abc.Maybe.csproj
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Update tests.yml
  .github/workflows/tests.yml
Due: none

Cleanup.
  Directory.Build.props
  README.md
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Add txt ext to LICENSE file (for GitHub).
  LICENSE.txt
Due: none

Update .editorconfig
  .editorconfig
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Comments.
  src/Abc.Maybe/Abc.Maybe.csproj
  src/Directory.Build.targets
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Rename license file.
  LICENSE
Due: none

Remove option Retail, merge with configuration Release.
  .azure/pipelines/azure-pipelines-build.yml
  .azure/pipelines/azure-pipelines-test-pack.yml
  Directory.Build.props
  Directory.Build.targets
  doc/developer-notes
  eng/make.ps1
  eng/pack.ps1
  src/Abc.Maybe/Abc.Maybe.csproj
  src/Directory.Build.targets
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Fix configuration of Abc.PackageTests: VisibleInternals=false.
  .azure/pipelines/azure-pipelines-test-pack.ps1
  test/Package/Abc.PackageTests.csproj
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Force DebugType to portable for code coverage with Coverlet.
  .azure/pipelines/azure-pipelines-test.yml
  CHANGELOG
  eng/cover.ps1
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Update Directory.Build.props
  Directory.Build.props
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

For .NET Framework, always set DebugType to pdbonly.
  Directory.Build.targets
  doc/developer-notes
  src/Directory.Build.targets
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Simplify configuration of projects.
  .azure/pipelines/azure-pipelines-test.yml
  Directory.Build.props
  Directory.Build.targets
  doc/developer-notes
  src/Abc.Maybe/Abc.Maybe.csproj
  src/Abc.Testing/Abc.Testing.csproj
  src/Abc.Testing/Directory.Build.targets
  src/Abc.Tests/Abc.Tests.csproj
  src/Directory.Build.targets
  test/Package/Abc.PackageTests.csproj
  test/Performance/Abc.PerformanceTests.csproj
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Comments.
  CHANGELOG
  Directory.Build.props
  Directory.Build.rsp
  Directory.Build.targets
  doc/TODO
  doc/developer-notes
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Spelling.
  Directory.Build.props
  src/Directory.Build.targets
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Cleanup.
  Directory.Build.props
  doc/TODO
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Comments.
  doc/TODO
  doc/developer-notes
Due: none

Remove D.B.targets when used by a single project.
  Maybe.sln
  src/Abc.Maybe/Abc.Maybe.csproj
  src/Abc.Maybe/Directory.Build.targets
  test/Package/Abc.PackageTests.csproj
  test/Package/Directory.Build.targets
  test/Performance/Directory.Build.targets
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Rename INTERNALS_VISIBLE_TO to VISIBLE_INTERNALS.
  Directory.Build.targets
  src/Abc.Maybe/Abc.Maybe.csproj
  src/Abc.Maybe/AssemblyInfo.cs
  src/Abc.Maybe/Maybe`1.cs
  src/Abc.Sketches/MaybeComparer`1.cs
  src/Abc.Testing/Abc.Testing.csproj
  src/Abc.Testing/AssertEx.Maybe.cs
  src/NullableAttributes.cs
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Update developer-notes
  doc/developer-notes
Due: none

Hide shims in VS projects.
  Directory.Build.targets
  test/Package/Abc.PackageTests.csproj
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Formatting.
  src/Abc.Tests/PackageReferences.targets
  src/Directory.Build.targets
  test/NuGet.Config
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Always define INTERNAL_NULLABLE_ATTRIBUTES.
  Directory.Build.targets
  src/NullableAttributes.cs
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Add TODOs.
  doc/TODO
  test/Directory.Build.targets
  test/NuGetCaching/NuGetCaching.csproj
Due: none

Fix casing.
  eng/cover.ps1
Due: azure-pipelines-all.yml

Update TODO
  doc/TODO
Due: none
