Repository chtoucas/Abc.Maybe: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-all.yml: any file but: .github, __, doc, test, CHANGELOG, LICENSE*, README.md
  azure-pipelines-netfull.yml: any file but: .github, __, doc, eng, test, CHANGELOG, LICENSE*, README.md
  azure-pipelines.yml: any file but: .github, __, doc, eng, test, CHANGELOG, LICENSE*, README.md

Update license headers.
  eng/obsolete/genuids.fsx
  eng/obsolete/genuids.ps1
  test/Performance/AssemblyInfo.cs
  test/Performance/ComparisonsTests/SelectMany_Join.cs
  test/Performance/ComparisonsTests/SelectMany_ZipWith.cs
  test/Performance/Program.cs
Due: azure-pipelines-all.yml

Use package Abc.Utilities.Sources.
  .config/coverlet.runsettings
  CHANGELOG
  NuGet.Config
  __/coverlet.txt
  eng/cover.ps1
  src/Abc.Maybe/Abc.Maybe.csproj
  src/Abc.Maybe/Utilities/AccessibilityLevel.cs
  src/Abc.Maybe/Utilities/EmptyIterator`1.cs
  src/Abc.Maybe/Utilities/ExceptionFactory.cs
  src/Abc.Maybe/Utilities/InternalForTestingAttribute.cs
  src/Abc.Maybe/Utilities/NeverEndingSequence`1.cs
  src/Abc.Maybe/Utilities/SingletonList`1.cs
  src/Abc.Tests/Utilities/EmptyIteratorTests.cs
  src/Abc.Tests/Utilities/NeverEndingSequenceTests.cs
  src/Abc.Tests/Utilities/SingletonListTests.cs
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Simplification.
  src/Abc.Maybe/Maybe`1.cs
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Fix OpenCover.
  eng/cover.ps1
  eng/lib/abc.ps1
Due: azure-pipelines-all.yml

Update ExceptionFactory.cs
  src/Abc.Sketches/Utilities/ExceptionFactory.cs
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Upgrade xunit.runner.visualstudio v2.4.2 -> v2.4.3.
  CHANGELOG
  src/Abc.Tests/PackageReferences.targets
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Use the nuget.config from the repository.
  .azure/pipelines/azure-pipelines-test.yml
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Upgrade Abc.Utilities.Sources v0.1.1 -> v0.2.0.
  CHANGELOG
  eng/lib/abc.ps1
  src/Abc.Maybe/Abc.Maybe.csproj
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Upgrade dependencies.
  CHANGELOG
  src/Abc.Maybe/Abc.Maybe.csproj
  src/Abc.Maybe/Maybe`1.cs
  src/Abc.Tests/PackageReferences.targets
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Prefix read-only props with "My".
  Directory.Build.props
  Directory.Build.targets
  eng/NETFxTools/NETFxTools.csproj
  eng/lib/abc.ps1
  eng/make.ps1
  src/Abc.Maybe/Abc.Maybe.csproj
  src/Abc.Sketches/Abc.Sketches.csproj
  src/Abc.Testing/Abc.Testing.csproj
  src/Abc.Tests/Abc.Tests.csproj
  src/Abc.Tests/PackageReferences.targets
  src/Directory.Build.targets
  test/Directory.Build.targets
  test/NuGetCaching/NuGetCaching.csproj
  test/Package/Abc.PackageTests.csproj
  test/Performance/Abc.PerformanceTests.csproj
  test/Performance/Directory.Build.targets
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Enable FxCop for all projects. Clean up NoWarn.
  Directory.Build.props
  Directory.Build.targets
  doc/TODO
  src/Abc.Maybe/Abc.Maybe.csproj
  src/Abc.Testing/Abc.Testing.csproj
  src/Abc.Tests/Abc.Tests.csproj
  src/Directory.Build.targets
  test/Package/Abc.PackageTests.csproj
  test/Performance/Abc.PerformanceTests.csproj
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Update TODO
  doc/TODO
Due: none

Upgrade dependencies.
  CHANGELOG
  Directory.Build.targets
  doc/TODO
  src/Abc.Maybe/Abc.Maybe.csproj
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Fix error CA1805.
  __/coverlet.txt
  src/Abc.Maybe/Maybe`1.cs
  src/Abc.Maybe/Unit.cs
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Change version number.
  CHANGELOG
  README.md
  src/Abc.Maybe.props
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Naming: use Framework instead of Platform.
  Directory.Build.props
  Directory.Build.targets
  eng/NETFxTools/NETFxTools.csproj
  eng/cover.ps1
  eng/lib/abc.ps1
  eng/make.ps1
  eng/test-package.ps1
  src/Abc.Maybe/Abc.Maybe.csproj
  src/Abc.Sketches/Abc.Sketches.csproj
  src/Abc.Testing/Abc.Testing.csproj
  src/Abc.Tests/Abc.Tests.csproj
  src/Abc.Tests/PackageReferences.targets
  test/NuGetCaching/NuGetCaching.csproj
  test/Package/Abc.PackageTests.csproj
  test/Performance/Abc.PerformanceTests.csproj
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Upgrade Microsoft.NET.Test.Sdk v16.7.0 -> v16.7.1.
  src/Abc.Tests/PackageReferences.targets
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Update LICENSE
  LICENSE
Due: none

Update dependencies
  CHANGELOG
  Directory.Build.targets
  src/Abc.Maybe/Abc.Maybe.csproj
  src/Abc.Tests/PackageReferences.targets
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Upgrade dependencies.
  .config/dotnet-tools.json
  __/coverlet.svg
  __/coverlet.txt
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Upgrade dependencies.
  CHANGELOG
  Directory.Build.targets
  src/Abc.Tests/Abc.Tests.csproj
  src/Abc.Tests/PackageReferences.targets
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Fix a couple of warnings.
  src/Abc.Maybe/Maybe`1.Query.cs
  src/Abc.Maybe/Maybe`1.cs
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Fix a bunch of warnings.
  src/Abc.Sketches/Extensions/Dictionary$.cs
  src/Abc.Sketches/MaybeComparer`1.cs
  src/Abc.Sketches/MaybeEx.Async.cs
  src/Abc.Sketches/MaybeEx.Query.cs
  src/Abc.Sketches/MaybeEx.cs
  src/Abc.Testing/AssertEx.Maybe.cs
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Update Public API.
  src/Abc.Maybe/PublicAPI/netstandard2.0/PublicAPI.Unshipped.txt
  src/Abc.Maybe/PublicAPI/netstandard2.1/PublicAPI.Unshipped.txt
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Update global.json
  global.json
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Update tests.yml
  .github/workflows/tests.yml
Due: none

Trying to fix github workflow.
  .github/workflows/tests.yml
  global.json
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Fix compilation for net5.0.
  src/Abc.Tests/Internal/AnySerializable.cs
  src/Abc.Tests/MaybeTests.cs
  src/Abc.Tests/UnitTests.cs
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Change default framework.
  Directory.Build.props
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Change C# version 8.0 -> 9.0.
  test/Performance/Abc.PerformanceTests.csproj
Due: none

Update docs.
  CHANGELOG
  doc/developer-notes
Due: none

Cleanup.
  src/Abc.Maybe/Maybe`1.Bitwise.cs
  src/Abc.Maybe/Maybe`1.cs
  src/Abc.Tests/MaybeTests.cs
  src/Abc.Tests/UnitTests.cs
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Deterministic build: remove workarounds for dotnet < 3.1.400.
  doc/TODO
  src/Directory.Build.targets
  test/Directory.Build.targets
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Add comments.
  src/Abc.Maybe/Maybe`1.Query.cs
  src/Abc.Maybe/Maybe`1.cs
  src/Abc.Sketches/Extensions/Dictionary$.cs
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Use new C# 8.0 features.
  src/Abc.Maybe/Maybe.cs
  src/Abc.Maybe/Unit.cs
  src/Abc.Maybe/Utilities/ExceptionFactory.cs
  src/Abc.Sketches/MaybeEx.Bitwise.cs
  src/Abc.Sketches/Utilities/ExceptionFactory.cs
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Update make.ps1
  eng/make.ps1
Due: azure-pipelines-all.yml

Update ApiProfileMoniker for net5.0.
  Directory.Build.targets
  doc/developer-notes
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Remove unnecessary SuppressMessage and ExcludeFromCodeCoverage.
  __/coverlet.txt
  src/Abc.Maybe/Maybe`1.cs
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Update Microsoft.NET.Test.Sdk 16.9.1 -> 16.9.4.
  CHANGELOG
  src/Abc.Tests/PackageReferences.targets
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml
