Repository chtoucas/Abc.Maybe: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

azure-pipelines-all.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: DotNetCoreCLI@2
    displayName: Print .NET version
    inputs:
      command: custom
      custom: --info
  - task: UseDotNet@2
    displayName: Use global.json
    inputs:
      packageType: sdk
      useGlobalJson: true
  - task: DotNetCoreCLI@2
  ...

azure-pipelines-netfull.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: DotNetCoreCLI@2
    displayName: Print .NET version
    inputs:
      command: custom
      custom: --info
  - task: UseDotNet@2
    displayName: Use global.json
    inputs:
      packageType: sdk
      useGlobalJson: true
  - task: DotNetCoreCLI@2
  ...

azure-pipelines.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: DotNetCoreCLI@2
    displayName: Print .NET version
    inputs:
      command: custom
      custom: --info
  - task: UseDotNet@2
    displayName: Use global.json
    inputs:
      packageType: sdk
      useGlobalJson: true
  - task: DotNetCoreCLI@2
  ...

Enable AZP "Test package".
  .azure/pipelines/azure-pipelines-test-pack.yml
  Directory.Build.props
  doc/TODO
  doc/developer-notes
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

On non-Windows OSes, ignore .NET Framework when testing.
  Directory.Build.props
  eng/test-package.ps1
  test/Package/Abc.PackageTests.csproj
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Change versionSuffix.
  .azure/pipelines/azure-pipelines-test-pack.yml
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Update docs
  CHANGELOG
  doc/TODO
  doc/developer-notes
Due: none

Make the script fail when we have not 100% cc.
  eng/cover.ps1
Due: azure-pipelines-all.yml

Update README.md
  README.md
Due: none

Update docs.
  doc/TODO
  doc/developer-notes
  eng/pack.ps1
Due: azure-pipelines-all.yml

Move Source Link to src\D.B.targets.
  .azure/pipelines/azure-pipelines-test-pack.yml
  Directory.Build.props
  src/Directory.Build.targets
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Update docs.
  CHANGELOG
  doc/TODO
Due: none

New option -Threshold.
  eng/cover.ps1
Due: azure-pipelines-all.yml

Cover a missing branch. Fix path to badges.
  __/coverlet.svg
  __/coverlet.txt
  eng/cover.ps1
  src/Abc.Tests/Linq/LastOrNoneTests.cs
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Copy all CI config's to ".config".
  .config/azure-pipelines-build.yml
  .config/azure-pipelines-info.yml
  .config/azure-pipelines-test-pack.yml
  .config/azure-pipelines-test.yml
  .config/github-test.yml
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Rollback previous commit.
  .config/azure-pipelines-build.yml
  .config/azure-pipelines-info.yml
  .config/azure-pipelines-test-pack.yml
  .config/azure-pipelines-test.yml
  .config/github-test.yml
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Add more paths to ignore.
  .azure/pipelines/azure-pipelines-test-pack.yml
  .azure/pipelines/azure-pipelines-test.yml
  .github/workflows/tests.yml
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Update make.ps1
  eng/make.ps1
Due: azure-pipelines-all.yml

On a CI server, when skipping a test, do it silently.
  doc/TODO
  src/Abc.Testing/Abc.Testing.csproj
  src/Abc.Testing/SkippedFactAttribute.cs
  src/Abc.Tests/MayTests.cs
  src/Abc.Tests/MaybeTests.cs
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Cleanup.
  src/Abc.Maybe/Linq/LastOrNone.cs
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Add an MSBuild response file.
  .gitignore
  Directory.Build.rsp
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Update TODO
  doc/TODO
Due: none

Change version number.
  CHANGELOG
  doc/TODO
  doc/developer-notes
  src/Abc.Maybe.props
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Update azure-pipelines-test-pack.yml
  .azure/pipelines/azure-pipelines-test-pack.yml
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Update azure-pipelines-test-pack.yml.
  .azure/pipelines/azure-pipelines-test-pack.yml
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Modify PackageReleaseNotes.
  doc/TODO
  src/Abc.Maybe/Directory.Build.targets
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Output more info.
  eng/lib/abc.ps1
Due: azure-pipelines-all.yml

Always use the "normal" verbosity level for "dotnet restore".
  .azure/pipelines/azure-pipelines-test-pack.yml
  .azure/pipelines/azure-pipelines-test.yml
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Moving away from DotNetCoreCLI@2. This task is a mess.
  .azure/pipelines/azure-pipelines-test-pack.yml
  .azure/pipelines/azure-pipelines-test.yml
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Fix typo in cmdline arg.
  .azure/pipelines/azure-pipelines-test-pack.yml
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Remove disabled tasks.
  .azure/pipelines/azure-pipelines-test-pack.yml
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Cleanup.
  doc/TODO
  eng/README
  eng/obsolete/_tmp.ps1
Due: azure-pipelines-all.yml

Projects in "test" now use an exact version match for the package "Abc.Maybe".
  CHANGELOG
  test/Directory.Build.targets
Due: none

Add dev-only option /p:PlainLinq=true.
  doc/TODO
  doc/developer-notes
  src/Directory.Build.targets
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Tests for a package: add xunit.runner.json and maybe define SILENT_SKIP.
  src/Abc.Tests/PackageReferences.targets
  test/Package/Directory.Build.targets
  test/Package/xunit.runner.json
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Change URL for JSON schema (xUnit).
  src/Abc.Tests/xunit.runner.json
  test/Package/xunit.runner.json
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Update docs.
  doc/developer-notes
  eng/README
Due: azure-pipelines-all.yml

Rename -Collector -> -XPath.
  eng/cover.ps1
Due: azure-pipelines-all.yml

Remove trailing slash.
  Directory.Build.props
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-all.yml: any file but: .github, __, doc, test, CHANGELOG, LICENSE*, README.md
  azure-pipelines-netfull.yml: any file but: .github, __, doc, eng, test, CHANGELOG, LICENSE*, README.md
  azure-pipelines.yml: any file but: .github, __, doc, eng, test, CHANGELOG, LICENSE*, README.md
