Repository chtoucas/Abc.Maybe: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-all.yml: any file but: .github, __, doc, test, CHANGELOG, LICENSE*, README.md
  azure-pipelines-netfull.yml: any file but: .github, __, doc, eng, test, CHANGELOG, LICENSE*, README.md
  azure-pipelines.yml: any file but: .github, __, doc, eng, test, CHANGELOG, LICENSE*, README.md

Move partial fix for Coverlet when EnableSourceLink = true to "src\D.B.targets".
  Directory.Build.targets
  doc/TODO
  src/Directory.Build.targets
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Cleanup.
  Directory.Build.rsp
  src/Directory.Build.targets
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Update TODO
  doc/TODO
Due: none

Move fix for SourceRoot to (src|test)\D.B.targets.
  Directory.Build.props
  src/Directory.Build.targets
  test/Directory.Build.targets
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Explanations for Source Link.
  doc/TODO
  src/Directory.Build.targets
  test/Directory.Build.targets
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

test-package.ps1, if a version is not cached, ask if we want to add it to the cache.
  doc/TODO
  eng/lib/abc.ps1
  eng/pack.ps1
  eng/test-package.ps1
Due: azure-pipelines-all.yml

Rename license file.
  LICENSE.txt
Due: none

Rollback.
  LICENSE
Due: none

Update CI scripts and TODO.
  .azure/pipelines/azure-pipelines-test-pack.yml
  .azure/pipelines/azure-pipelines-test.yml
  .github/workflows/tests.yml
  doc/TODO
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Comments.
  Directory.Build.props
  doc/TODO
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Remove the option /p:MyAssemblyTitle=.
  Directory.Build.targets
  doc/TODO
  eng/pack.ps1
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Tweak params EnableSourceLink & ContinuousIntegrationBuild.
  doc/TODO
  eng/pack.ps1
Due: azure-pipelines-all.yml

Fix path to performance project.
  test/Performance/Program.cs
  test/README
Due: none

Rename CI to Dev for local dev packages.
  doc/TODO
  doc/developer-notes
  eng/lib/abc.ps1
  eng/pack.ps1
  eng/reset.ps1
  eng/test-package.ps1
  src/Directory.Build.targets
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Fix typo.
  eng/pack.ps1
Due: azure-pipelines-all.yml

Improve wording to better distinguish official builds from local one.
  doc/TODO
  doc/developer-notes
  eng/lib/abc.ps1
  eng/pack.ps1
  eng/reset.ps1
  eng/test-package.ps1
Due: azure-pipelines-all.yml

Further explain ContinuousIntegrationBuild, EnableSourceLink and DeterministicSourcePaths.
  src/Directory.Build.targets
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Enable Coverlet + SourceLink.
  .config/coverlet.runsettings
  eng/cover.ps1
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Update azure-pipelines-test.yml
  .azure/pipelines/azure-pipelines-test.yml
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Partly revert previous commit.
  .azure/pipelines/azure-pipelines-test.yml
  .config/coverlet.SourceLink.runsettings
  eng/cover.ps1
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Try again to enable Source Link + Coverlet.
  .azure/pipelines/azure-pipelines-test.yml
  .config/coverlet.SourceLink.runsettings
  .config/coverlet.runsettings
  eng/cover.ps1
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Reverting again.
  .azure/pipelines/azure-pipelines-test.yml
  .config/coverlet.SourceLink.runsettings
  doc/TODO
  eng/cover.ps1
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Code Coverage: new options -Deterministic and -NoSourceLink.
  .config/coverlet.SourceLink.runsettings
  doc/TODO
  eng/cover.ps1
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

AZP: set disable.coverage.autogenerate=true.
  .azure/pipelines/azure-pipelines-test.yml
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Update Directory.Build.props
  Directory.Build.props
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Update README
  test/README
Due: none

Change default behaviour of Coverlet: use Source Link if available.
  .azure/pipelines/azure-pipelines-test.yml
  .config/coverlet.runsettings
  doc/TODO
  eng/cover.ps1
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Update docs.
  README.md
  doc/TODO
Due: none

Move issues to GitHub.
  doc/TODO
Due: none

Tweak version number for local packages.
  eng/pack.ps1
Due: azure-pipelines-all.yml

Comments.
  eng/pack.ps1
  eng/test-package.ps1
Due: azure-pipelines-all.yml

Comments.
  eng/pack.ps1
Due: azure-pipelines-all.yml

Cleanup.
  doc/TODO
  eng/pack.ps1
Due: azure-pipelines-all.yml

Tweak package version.
  .azure/pipelines/azure-pipelines-test-pack.yml
  doc/TODO
  eng/pack.ps1
  src/Retail.props
  test/Directory.Build.targets
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Fix VersionSuffix.
  src/Retail.props
  test/Directory.Build.targets
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Comments.
  doc/TODO
  eng/pack.ps1
Due: azure-pipelines-all.yml

Set IncludeSourceRevisionInInformationalVersion to true n AZP.
  .azure/pipelines/azure-pipelines-test-pack.yml
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Tweak package info (branch, release notes).
  .azure/pipelines/azure-pipelines-test-pack.yml
  doc/TODO
  src/Abc.Maybe/Directory.Build.targets
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml
