Repository chtoucas/Abc.Maybe: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

azure-pipelines-all.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: DotNetCoreCLI@2
    displayName: Print .NET version
    inputs:
      command: custom
      custom: --info
  - task: UseDotNet@2
    displayName: Use global.json
    inputs:
      packageType: sdk
      useGlobalJson: true
  - task: DotNetCoreCLI@2
  ...

azure-pipelines-netfull.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: DotNetCoreCLI@2
    displayName: Print .NET version
    inputs:
      command: custom
      custom: --info
  - task: UseDotNet@2
    displayName: Use global.json
    inputs:
      packageType: sdk
      useGlobalJson: true
  - task: DotNetCoreCLI@2
  ...

azure-pipelines.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: DotNetCoreCLI@2
    displayName: Print .NET version
    inputs:
      command: custom
      custom: --info
  - task: UseDotNet@2
    displayName: Use global.json
    inputs:
      packageType: sdk
      useGlobalJson: true
  - task: DotNetCoreCLI@2
  ...

Update AZPs.
  .azure/pipelines/azure-pipelines-all.yml
  .azure/pipelines/azure-pipelines-build.yml
  .azure/pipelines/azure-pipelines-info.yml
  .azure/pipelines/azure-pipelines.yml
  Maybe.sln
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Upgrade ReportGenerator 4.5.8 -> 4.6.1.
  .config/dotnet-tools.json
  CHANGELOG
  eng/cover.ps1
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

No longer explicitly skip facts (for CI builds).
  src/Abc.Tests/MayTests.cs
  src/Abc.Tests/MaybeTests.cs
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Better explain "Supported platforms" and ensure that props match the doc.
  Directory.Build.props
  Directory.Build.targets
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Improve option -MyVerbose for the task "test".
  doc/developer-notes
  eng/make.ps1
Due: azure-pipelines-all.yml

Remove obsolete comment.
  eng/test-package.ps1
Due: azure-pipelines-all.yml

Update TODO
  doc/TODO
Due: none

Clean up CI configurations.
  .azure/pipelines/azure-pipelines-info.yml
  .github/workflows/tests.yml
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Fix build: error CS1062.
  src/Abc.Tests/MayTests.cs
  src/Abc.Tests/MaybeTests.cs
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Update link to GitHub Action.
  README.md
Due: none

Disable azure-pipelines-build.yml.
  .azure/pipelines/azure-pipelines-build.yml
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Add badge for AZP.
  .azure/pipelines/azure-pipelines-build.yml
  README.md
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Start task: merging make.ps1 and ci.ps1.
  doc/developer-notes
  eng/ci.ps1
  eng/make.ps1
Due: azure-pipelines-all.yml

Merge ci.ps1 with make.ps1.
  .azure/pipelines/azure-pipelines-build.yml
  eng/README
  eng/ci.ps1
  eng/make.ps1
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Improve make.ps1. New directory eng\lib.
  .azure/pipelines/azure-pipelines-build.yml
  Maybe.sln
  doc/developer-notes
  eng/README
  eng/asm.ps1
  eng/cover.ps1
  eng/freeze-api.ps1
  eng/lib/abc.ps1
  eng/lib/utils.ps1
  eng/make.ps1
  eng/pack.ps1
  eng/reset.ps1
  eng/test-package.ps1
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Update make.ps1
  eng/make.ps1
Due: azure-pipelines-all.yml

make.ps1: improve messages, better support for non-Windows OSes.
  doc/developer-notes
  eng/make.ps1
  eng/test.ps1
Due: azure-pipelines-all.yml

Ignore directory "eng".
  .github/workflows/tests.yml
Due: none

Cleanup doc.
  eng/make.ps1
Due: azure-pipelines-all.yml

Update doc.
  eng/make.ps1
Due: azure-pipelines-all.yml

Ignore directory "eng".
  .azure/pipelines/azure-pipelines-test.yml
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Fix "paths-ignore".
  .github/workflows/tests.yml
Due: none

Update AZP's.
  .azure/pipelines/azure-pipelines-build.yml
  .azure/pipelines/azure-pipelines-info.yml
  .azure/pipelines/azure-pipelines-test.yml
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Update azure-pipelines-test.yml
  .azure/pipelines/azure-pipelines-test.yml
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Update Azure pipelines.
  .azure/pipelines/azure-pipelines-build.yml
  .azure/pipelines/azure-pipelines-info.yml
  .azure/pipelines/azure-pipelines-test.yml
  eng/make.ps1
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Update scripts. Add option -Trx to make.ps1.
  doc/developer-notes
  eng/harness.cmd
  eng/make.ps1
Due: azure-pipelines-all.yml

Use configuration Debug and be quiet.
  .azure/pipelines/azure-pipelines-test.yml
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Fix comments.
  eng/harness.cmd
  eng/make.ps1
Due: azure-pipelines-all.yml

Cleanup.
  .azure/pipelines/azure-pipelines-build.yml
  test/Directory.Build.targets
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Create azure-pipelines-test-pack.yml
  .azure/pipelines/azure-pipelines-test-pack.yml
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Update azure-pipelines-test-pack.yml
  .azure/pipelines/azure-pipelines-test-pack.yml
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Update azure-pipelines-test-pack.yml.
  .azure/pipelines/azure-pipelines-test-pack.yml
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Use "enabled: false" to disable a task. Ignore ".azure/*"
  .azure/pipelines/azure-pipelines-build.yml
  .azure/pipelines/azure-pipelines-test.yml
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-all.yml: any file but: .github, __, doc, test, CHANGELOG, LICENSE*, README.md
  azure-pipelines-netfull.yml: any file but: .github, __, doc, eng, test, CHANGELOG, LICENSE*, README.md
  azure-pipelines.yml: any file but: .github, __, doc, eng, test, CHANGELOG, LICENSE*, README.md
