Repository chtoucas/Abc.Maybe: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

azure-pipelines-all.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: DotNetCoreCLI@2
    displayName: Print .NET version
    inputs:
      command: custom
      custom: --info
  - task: UseDotNet@2
    displayName: Use global.json
    inputs:
      packageType: sdk
      useGlobalJson: true
  - task: DotNetCoreCLI@2
  ...

azure-pipelines-netfull.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: DotNetCoreCLI@2
    displayName: Print .NET version
    inputs:
      command: custom
      custom: --info
  - task: UseDotNet@2
    displayName: Use global.json
    inputs:
      packageType: sdk
      useGlobalJson: true
  - task: DotNetCoreCLI@2
  ...

azure-pipelines.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: DotNetCoreCLI@2
    displayName: Print .NET version
    inputs:
      command: custom
      custom: --info
  - task: UseDotNet@2
    displayName: Use global.json
    inputs:
      packageType: sdk
      useGlobalJson: true
  - task: DotNetCoreCLI@2
  ...

Move content of TmpFixes.targets into D.B.targets.
  Directory.Build.targets
  TmpFixes.targets
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Update and rename test.yml to tests.yml
  .github/workflows/tests.yml
Due: none

Update link to GitHub workflow.
  README.md
Due: none

Update tests.yml
  .github/workflows/tests.yml
Due: none

Update workflow to run tests w/ netcoreapp2.1 too.
  .github/workflows/tests.yml
  doc/developer-notes
  src/Abc.Tests/Abc.Tests.csproj
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Update azure-pipelines-all.yml
  azure-pipelines-all.yml
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

APL: disable UseDotNet (no longer needed).
  azure-pipelines-all.yml
  azure-pipelines.yml
  doc/TODO
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Fix ref in sln.
  Maybe.sln
  doc/TODO
  doc/developer-notes
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Update azure-pipelines.yml
  azure-pipelines.yml
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

New internal utility class EnumerableX for missing LINQ ops.
  src/Abc.Sketches/MaybeEx.Enumerable.cs
  src/Abc.Sketches/Utilities/Enumerable$.cs
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Add missing refs to the solution.
  Maybe.sln
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Comments.
  doc/TODO
  doc/developer-notes
  eng/harness.cmd
Due: azure-pipelines-all.yml

Set env DOTNET_MULTILEVEL_LOOKUP. Use rollForward = latestFeature.
  .github/workflows/tests.yml
  Directory.Build.targets
  azure-pipelines-all.yml
  azure-pipelines.yml
  global.json
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Workflow: print .NET version after and before installing dotnet.
  .github/workflows/tests.yml
Due: none

Skip the other pipeline.
  azure-pipelines.yml
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Skip the other pipeline. Always install the dotnet version specified by global.json.
  azure-pipelines-all.yml
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Remove one task. Always display run settings.
  azure-pipelines-all.yml
  doc/TODO
  eng/ci.ps1
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Nesw property NotSupportedTestPlatforms.
  Directory.Build.props
  eng/abc.ps1
  eng/build.ps1
  eng/ci.ps1
  eng/test-package.ps1
  eng/test.ps1
  src/Abc.Tests/PackageReferences.targets
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Fix ci.ps1, missing $targets (I was too quick to remove it in previous commit).
  eng/ci.ps1
Due: azure-pipelines-all.yml

Keep supporting obsolete platforms but only build/test them on demand.
  Directory.Build.props
  eng/build.ps1
  eng/test-package.ps1
  eng/test.ps1
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Explanations.
  Directory.Build.props
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Cleanup.
  Maybe.sln
  eng/abc.ps1
  eng/test-package.ps1
  src/Abc.Tests/Abc.Tests.csproj
  test/Package/Abc.PackageTests.csproj
  test/Package/Abc.PreSdkTests/Abc.PreSdkTests.csproj
  test/Package/Directory.Build.targets
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Remove option -NotSupported for test-package.ps1 (this is the default now).
  eng/test-package.ps1
  test/Package/Abc.PackageTests.csproj
Due: azure-pipelines-all.yml

Update Directory.Build.props
  Directory.Build.props
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Project gardening.
  .azure/pipelines/azure-pipelines-all.yml
  .azure/pipelines/azure-pipelines.yml
  .github/workflows/tests.yml
  Directory.Build.props
  eng/Abc.snk
  eng/README
  eng/cover.ps1
  eng/coverlet.runsettings
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Remove obsolete azure files.
  azure-pipelines-all.yml
  azure-pipelines.yml
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Move Coverlet settings to ".config".
  .azure/pipelines/azure-pipelines.yml
  .config/coverlet.runsettings
  eng/README
  eng/cover.ps1
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Fix solution items.
  Maybe.sln
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Use PS Core instead of Windows PS.
  .azure/pipelines/azure-pipelines-all.yml
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Cleanup.
  .azure/pipelines/azure-pipelines-all.yml
  .gitignore
  doc/TODO
  eng/build.ps1
  eng/harness.cmd
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Simplify the build system.
  .azure/pipelines/azure-pipelines.yml
  .github/workflows/tests.yml
  Abc.snk
  Directory.Build.props
  Directory.Build.targets
  doc/developer-notes
  eng/NETFxTools/NETFxTools.csproj
  eng/README
  eng/abc.ps1
  eng/build.ps1
  eng/ci.ps1
  eng/cover.ps1
  eng/harness.cmd
  eng/test.ps1
  src/Abc.Tests/Abc.Tests.csproj
  test/NuGetCaching/NuGetCaching.csproj
  test/Performance/Abc.PerformanceTests.csproj
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Merge build.ps1 and test.ps1.
  Directory.Build.props
  Maybe.sln
  eng/README
  eng/make.ps1
  eng/test.ps1
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Remove PackPlatforms. Enable multi-targeting w/ cover.ps1 .
  Directory.Build.props
  eng/abc.ps1
  eng/ci.ps1
  eng/cover.ps1
  eng/pack.ps1
  src/Abc.Maybe/Linq/LastOrNone.cs
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Update cover.ps1
  eng/cover.ps1
Due: azure-pipelines-all.yml

New AZPs. Remove net48 in TestPlatforms.
  .azure/pipelines/azure-pipelines-build.yml
  .azure/pipelines/azure-pipelines-test.yml
  Directory.Build.props
  Maybe.sln
Due: azure-pipelines-all.yml, azure-pipelines-netfull.yml, azure-pipelines.yml

Udpate docs.
  CHANGELOG
  doc/TODO
  doc/developer-notes
Due: none

Path conditions:
  azure-pipelines-all.yml: any file but: .github, __, doc, test, CHANGELOG, LICENSE*, README.md
  azure-pipelines-netfull.yml: any file but: .github, __, doc, eng, test, CHANGELOG, LICENSE*, README.md
  azure-pipelines.yml: any file but: .github, __, doc, eng, test, CHANGELOG, LICENSE*, README.md
